# Build artifacts
/build/
/bin/
build-static.sh

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Frontend
node_modules/
/frontend/dist/*
!/frontend/dist/.gitkeep
/frontend/wailsjs/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# test
samples/

# Application binaries
pdf_app
pdf-app
pdf-app-*

# C library build artifacts
go-fitz-include
go-fitz-libs

.gopls.yaml
