[Desktop Entry]
Name=Lankir
Comment=Modern PDF Editor and Signer for Linux
Exec=/usr/bin/lankir
Icon=lankir
Terminal=false
Type=Application
Categories=Office;Productivity;
Keywords=pdf;sign;signature;document;editor;
StartupWMClass=Lankir
